<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add new author</title>
</head>

<body>
    <h1>Add author</h1>

    <div id="authorForm">
        <div id="errors"></div>
        <form method="post">
            <div>
                <label for="firstName">First name:</label>
                <input type="text" name="firstName" id="firstName">
            </div>
            <br>
            <div>
                <label for="lastName">Last name:</label>
                <input type="text" name="lastName" id="lastName">
            </div>
            <br>
            <div>
                <input type="hidden" name="id" id="id">
                <input type="submit" id="subimtButton" value="Register">
            </div>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/addAuthor.js"></script>
</body>

</html>