<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Genres</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <div id="menu">
        <a href="../index.html">Selec user page</a>
        <a href="editUser.html">Edit Your data</a>
        <a href="homePage.html">Home</a>
        <a href="authors.html">Show Authors</a>
    </div>
    <div id="title">
        <h1>Genres</h1>
    </div>

    <div id="genres">
        <div id="table">
            <table id="genresTable" border="1"></table>
        </div>
        <div>
            <button id="addNewGenresButton">Add new Genre</button>
        </div>
    </div>
    <br>
    <br>

    <div id="showBooksDiv" , class="showDetails">
        <table id="bookTable" border="1"></table>
    </div>
    <br>
    <br>

    <div id="newGenreErrors"></div>
    <div id="addNewGenreForm" class="showDetails">
    </div>
    <br>
    <br>
    <div id="editGenreForm" class="showDetails"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/genres.js"></script>
</body>

</html>