<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>homePage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="menu">
        <a href="../index.html">Selec user page</a>
        <a href="editUser.html">Edit Your data</a>
        <a href="authors.html">Show Authors</a>
    </div>
    <h1>Home Page</h1>

    <div id="books">
        <div><a href="***">Add new book</a></div>


        <div>

            <table id="books" border="1">
                <th>
                    <tr>
                        <td>Title</td>
                        <td>Author(s)</td>
                        <td>Added:</td>
                        <td>Genres</td>
                    </tr>
                </th>
            </table>
        </div>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/homePage.js"></script>
</body>

</html>