<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>homePage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="menu">
        <a href="../index.html">Selec user page</a>
        <a href="editUser.html">Edit Your data</a>
        <a href="authors.html">Show Authors</a>
        <a href="genres.html">Show Genres</a>
    </div>
    <br>
    <br>
    <h1>Home Page</h1>

    <div id="booksTable"></div>
    <br>

    <div>
        <button id="addNewBookButton"> Add new Book</button>
    </div>
    <br>
    <br>

    <div id="addNewBookForm" class="showDetails"></div>
    <br>
    <br>
    <div id="editBookForm" class="showDetails"></div>
    <br>
    <br>
    <div id="bookDetailsDiv" class="showDetails" align="center"></div>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/homePage.js"></script>
</body>

</html>